<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7 ie6" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8 ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9 ie8" lang="en"> <![endif]-->
<!--[if (gt IE 8)|!(IE)]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="chrome=1" />
	<title>404</title>

	<script src="http://static.mlstatic.com/org-img/ch/ui/0.10.5/chico-jquery.min.js"></script>
	<script src="http://static.mlstatic.com/org-img/sdk/mercadolibre-1.0.1.js"></script>
	
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	
	<link rel="stylesheet" href="/stylesheets/pygment_trac.css" />
	<link rel="stylesheet" href="http://static.mlstatic.com/org-img/ch/ui/0.10.5/chico-mesh.min.css" />
	<link rel="stylesheet" href="/stylesheets/site.css" />
	<link href="/feed/" rel="alternate" type="application/rss+xml" title="MELI dev feed" />

	<!--[if lt IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
<header class="ch-g1 main">
    <hgroup class="ch-g1-3">
    <h1><a href="/">MELI</a></h1>
    <h2>MELI Developer Products</h2>
    </hgroup>
      <nav class="ch-g2-3">
        <ul>
          {% for category in site.categories %} 
            
            {% assign current = nil %}
            {% if category[0] == page.categories[0] %}
              {% assign current = 'current' %}
            {% endif %}
            
            {% if category[0] == 'Documentation' %}
            <li class="option">
              <div id="guides-menu" class="ch-dropdown-skin">
                <span>{{ category[0] }}</span>
                <ul>
                    {% assign current = nil %}
                    {% if page.guide == 'all' %}
                           {% assign current = 'current' %}
                    {% endif %}
                  <li><a class="{{ current }}" href="/guides">All guides</a></li>
                    
                    {% assign current = nil %}
                    {% if page.guide == 'core-concepts' %}
                           {% assign current = 'current' %}
                    {% endif %}
                  <li><a class="{{ current }}" href="/core-concepts">Documentation</a></li>

                    {% assign current = nil %}
                    {% if page.guide == 'quickstart' %}
                           {% assign current = 'current' %}
                    {% endif %}
                  <li><a class="{{ current }}" href="/getting-started">Quickstart</a></li>

                    {% assign current = nil %}
                    {% if page.guide == 'buyers' %}
                           {% assign current = 'current' %}
                    {% endif %}
                  <li><a class="{{ current }}" href="/bookmarks">Buyer guides</a></li>
                    
                    {% assign current = nil %}
                    {% if page.guide == 'search' %}
                           {% assign current = 'current' %}
                    {% endif %}
                  <li><a class="{{ current }}" href="/search-visual-introduction">Searching guide</a></li>

                    {% assign current = nil %}
                    {% if page.guide == 'seller' %}
                           {% assign current = 'current' %}
                    {% endif %}
                  <li><a class="{{ current }}" href="/listing-introduction">Selling guides</a></li>
                </ul>
              </div>
            </li>
            {% else %}
              <li class="option"><a class="{{ current }}" href="{{ category[1].last.url }}">{{ category[0] }}</a></li>
            {% endif %}
          
          {% endfor %}
          <li class="option">
            <form action="/search"><input id="q" type="search" name="q" placeholder="Search this site"/><noscript><input id="search" type="submit" value="Go" class="ch-btn-skin ch-btn-small"/></noscript></form>
          </li>
        </ul>
    </nav>
</header>

<script type="text/javascript">
   var foo = $("#guides-menu").dropdown();
</script>


	<section class="main ch-g1">
		<h2>Sorry, we can't find the page you're looking for. <span class="error404">(Error 404)</span></h2>
		<p>Would you like to add content to the site? You can <a href="https://github.com/mercadolibre/mercadolibre.github.com">fork repo on GitHub</a> and contribute!</p>
	</section>

  <footer class="ch-g1">
    <div class="ch-g2-3 extras">
      <ul>
       <li>©2012 MercadoLibre</li>
      </ul>
    </div>
      <p class="ch-g1-3 maintained-by"><img src="/images/github.png" alt="Github">Report an issue on <a href="https://github.com/mercadolibre/API/issues" target="_blank">Github</a>&nbsp;&nbsp;&nbsp;<a href="http://www.twitter.com/MercadoLibre" target="_blank"><img src="/images/twitter.png" alt="Twitter">Follow us!!</a></p>
  </footer>
	
	<script src="javascripts/scale.fix.js"></script>
	<!--[if !IE]><script>fixScale(document);</script><!--<![endif]-->
</body>
</html>
