<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7 ie6" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8 ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9 ie8" lang="en"> <![endif]-->
<!--[if (gt IE 8)|!(IE)]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="chrome=1" />
	<title>404</title>

	<script src="http://static.mlstatic.com/org-img/ch/ui/0.10.5/chico-jquery.min.js"></script>
	<script src="http://static.mlstatic.com/org-img/sdk/mercadolibre-1.0.1.js"></script>
	
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	
	<link rel="stylesheet" href="/stylesheets/pygment_trac.css" />
	<link rel="stylesheet" href="http://static.mlstatic.com/org-img/ch/ui/0.10.5/chico-mesh.min.css" />
	<link rel="stylesheet" href="/stylesheets/site.css" />
	<link href="/feed/" rel="alternate" type="application/rss+xml" title="MELI dev feed" />

	<!--[if lt IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
<header class="ch-g1 main">
    <hgroup class="ch-g1-3">
    <h1><a href="/">MELI</a></h1>
    <h2>Developers</h2>
    </hgroup>
      <nav class="ch-g2-3">
        <ul>
         {% assign current = nil %}
         {% if page.menu[0] == 'First Steps' %}
            {% assign current = 'current' %}
         {% endif %}
          <li class="option">
            <a class="{{ current }}" href="/first-step">Getting Started</a>
          </li>
          {% assign current = nil %}
          {% if page.menu[0] == 'Overview' %}
            {% assign current = 'current' %}
          {% endif %}
          <li class="option">
            <a class="{{ current }}" href="/core-concepts">Why with us</a>
          </li>
        
          <li class="option">
            <div id="guides-menu" class="ch-dropdown-skin">
            {% assign current = nil %}
            {% if page.layout == 'guides' %}
              {% assign current = 'current' %}
            {% endif %}

            <span><a class="{{ current }}" href="">Documentation</a></span>
              <ul>
                {% assign current = nil %}
                {% if page.menu[0] == 'Design Considerations' %}
                    {% assign current = 'current' %}
                {% endif %}
                <li><a class="{{ current }}" href="/design-considerations">Design Considerations</a></li>
                {% assign current = nil %}
                {% if page.menu[0] == 'Authentication' %}
                    {% assign current = 'current' %}
                {% endif %}
                <li><a class="{{ current }}" href="/authentication-and-authorization">Authentication</a></li>
                {% assign current = nil %}
                {% if page.menu[0] == 'Buying Items' %}
                    {% assign current = 'current' %}
                {% endif %}
                <li><a class="{{ current }}" href="/bookmarks">Buying Items</a></li>
                {% assign current = nil %}
                {% if page.menu[0] == 'Searching for Items' %}
                    {% assign current = 'current' %}
                {% endif %}
                <li><a class="{{ current }}" href="/search-visual-introduction">Searching for Items</a></li>
                {% assign current = nil %}
                {% if page.menu[0] == 'Sellers &amp; Integrators' %}
                    {% assign current = 'current' %}
                {% endif %}
                <li><a class="{{ current }}" href="/listing-introduction">Sellers &amp; Integrators</a></li>
                <li><a href="https://developers.mercadopago.com/" target="_blank">Payment &amp; Collection</a></li>
                {% assign current = nil %}
                {% if page.menu[0] == 'API Directory' %}
                    {% assign current = 'current' %}
                {% endif %}
                <li><a class="{{ current }}" href="/API-directory">API Directory</a></li>
              </ul>
            </div>
          </li>

         {% assign current = nil %}
         {% if page.menu[0] == 'Tools' %}
            {% assign current = 'current' %}
         {% endif %}
          <li class="option">
            <a class="{{ current }}" href="/javascript-sdk">Tools</a>
          </li>
         {% assign current = nil %}
         {% if page.menu == 'community' %}
            {% assign current = 'current' %}
         {% endif %}
          <li class="option">
            <a class="{{ current }}" href="/community">Community</a>
          </li>
          <li class="option">
            <form action="/search"><input id="q" type="search" name="q" placeholder="Search this site"/><noscript><input id="search" type="submit" value="Go" class="ch-btn-skin ch-btn-small"/></noscript></form>
          </li>
        </ul>
    </nav>
</header>

<script type="text/javascript">
   var foo = $("#guides-menu").dropdown();
</script>


	<section class="main ch-g1">
		<h2>Sorry, we can't find the page you're looking for. <span class="error404">(Error 404)</span></h2>
		<p>Would you like to add content to the site? You can <a href="https://github.com/mercadolibre/mercadolibre.github.com">fork repo on GitHub</a> and contribute!</p>
	</section>

  <footer class="ch-g1">
    <div class="ch-g2-3 extras">
      <ul>
       <li>©2012 MercadoLibre</li>
      </ul>
    </div>
      <p class="ch-g1-3 maintained-by"><img src="/images/github.png" alt="Github">Report an issue on <a href="https://github.com/mercadolibre/API/issues" target="_blank">Github</a>&nbsp;&nbsp;&nbsp;<a href="http://www.twitter.com/MercadoLibre" target="_blank"><img src="/images/twitter.png" alt="Twitter">Follow us!!</a></p>
  </footer>
	
	<script src="javascripts/scale.fix.js"></script>
	<!--[if !IE]><script>fixScale(document);</script><!--<![endif]-->
</body>
</html>
