  <footer class="ch-g1">
    <div class="ch-g2-3 extras">
    <ul>
      <li>©2012 MercadoLibre</li>
      <li><a href="/terminos-y-condiciones">Terminos y Condiciones</a></li>
    </ul>
    </div>
    <p class="ch-g1-3 maintained-by">
    <a href="http://applications.mercadolibre.com" target="_blank">
      Application Manager
    </a>
   <img src="/images/github.png" alt="Github">Report an issue on <a href="https://github.com/mercadolibre/API/issues" target="_blank">Github</a>&nbsp;&nbsp;&nbsp;<a href="http://www.twitter.com/MercadoLibre" target="_blank"><img src="/images/twitter.png" alt="Twitter">Follow us!!</a></p>
  </footer>