<header class="ch-g1 main">
    <hgroup class="ch-g1-3">
    <h1><a href="/">MELI</a></h1>
    <h2>Developers</h2>
    </hgroup>
      <nav class="ch-g2-3">
        <ul>
         {% assign current = nil %}
         {% if page.menu[0] == 'First Steps' %}
            {% assign current = 'current' %}
         {% endif %}
          <li class="option">
            <a class="{{ current }}" href="/first-step">Getting Started</a>
          </li>
          {% assign current = nil %}
          {% if page.menu[0] == 'Overview' %}
            {% assign current = 'current' %}
          {% endif %}
          <li class="option">
            <a class="{{ current }}" href="/core-concepts">Why with us</a>
          </li>
        
          <li class="option">
            <div id="guides-menu" class="ch-dropdown-skin">
            {% assign current = nil %}
            {% if page.layout == 'guides' %}
              {% assign current = 'current' %}
            {% endif %}

            <span><a class="{{ current }}" href="">Documentation</a></span>
              <ul>
                {% assign current = nil %}
                {% if page.menu[0] == 'Design Considerations' %}
                    {% assign current = 'current' %}
                {% endif %}
                <li><a class="{{ current }}" href="/design-considerations">Design Considerations</a></li>
                {% assign current = nil %}
                {% if page.menu[0] == 'Authentication' %}
                    {% assign current = 'current' %}
                {% endif %}
                <li><a class="{{ current }}" href="/authentication">Authentication</a></li>
                {% assign current = nil %}
                {% if page.menu[0] == 'Buying Items' %}
                    {% assign current = 'current' %}
                {% endif %}
                <li><a class="{{ current }}" href="/bookmarks">Buying Items</a></li>
                {% assign current = nil %}
                {% if page.menu[0] == 'Searching for Items' %}
                    {% assign current = 'current' %}
                {% endif %}
                <li><a class="{{ current }}" href="/search-visual-introduction">Searching for Items</a></li>
                {% assign current = nil %}
                {% if page.menu[0] == 'Sellers &amp; Integrators' %}
                    {% assign current = 'current' %}
                {% endif %}
                <li><a class="{{ current }}" href="/listing-introduction">Sellers &amp; Integrators</a></li>
                <li><a href="https://developers.mercadopago.com/" target="_blank">Payments &amp; Collections</a></li>
                {% assign current = nil %}
                {% if page.menu[0] == 'API Directory' %}
                    {% assign current = 'current' %}
                {% endif %}
                <li><a class="{{ current }}" href="/API-directory">API Directory</a></li>
              </ul>
            </div>
          </li>

         {% assign current = nil %}
         {% if page.menu[0] == 'Tools' %}
            {% assign current = 'current' %}
         {% endif %}
          <li class="option">
            <a class="{{ current }}" href="/javascript-sdk">Tools</a>
          </li>
         {% assign current = nil %}
         {% if page.menu == 'community' %}
            {% assign current = 'current' %}
         {% endif %}
          <li class="option">
            <a class="{{ current }}" href="/community">Community</a>
          </li>
          <li class="option">
            <form action="/search"><input id="q" type="search" name="q" placeholder="Search this site"/><noscript><input id="search" type="submit" value="Go" class="ch-btn-skin ch-btn-small"/></noscript></form>
          </li>
        </ul>
    </nav>
</header>

<script type="text/javascript">
   var foo = $("#guides-menu").dropdown();
</script>
