<html>
<head>

</head>

<body>
	



<iframe src="http://es.slideshare.net/slideshow/embed_code/15053178" width="427" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px">&nbsp;</iframe> <div style="margin-bottom:5px"> <strong> <a href="http://es.slideshare.net/melidevelopers/mercadopago-15053178" title="MercadoPago" target="_blank">MercadoPago</a> </strong> from <strong><a href="http://es.slideshare.net/melidevelopers" target="_blank">melidevelopers</a></strong> </div>



<iframe src="http://es.slideshare.net/slideshow/embed_code/15053167" width="427" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px">&nbsp;</iframe> <div style="margin-bottom:5px"> <strong> <a href="http://es.slideshare.net/melidevelopers/publicando-um-artculo" title="Listing" target="_blank">Listing</a> </strong> from <strong><a href="http://es.slideshare.net/melidevelopers" target="_blank">melidevelopers</a></strong> </div>



<iframe src="http://es.slideshare.net/slideshow/embed_code/15053152" width="427" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px">&nbsp;</iframe> <div style="margin-bottom:5px"> <strong> <a href="http://es.slideshare.net/melidevelopers/demanda-mercado-livre-developers-conference" title="Demanda" target="_blank">Demanda</a> </strong> from <strong><a href="http://es.slideshare.net/melidevelopers" target="_blank">melidevelopers</a></strong> </div>


<iframe src="http://es.slideshare.net/slideshow/embed_code/15053137" width="427" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px">&nbsp;</iframe> <div style="margin-bottom:5px"> <strong> <a href="http://es.slideshare.net/melidevelopers/authentication-authoritation" title="Authentication &amp; Authoritation" target="_blank">Authentication &amp; Authoritation</a> </strong> from <strong><a href="http://es.slideshare.net/melidevelopers" target="_blank">melidevelopers</a></strong> </div>


<iframe src="http://es.slideshare.net/slideshow/embed_code/15053098" width="427" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px">&nbsp;</iframe> <div style="margin-bottom:5px"> <strong> <a href="http://es.slideshare.net/melidevelopers/api-visin-general" title="API - Overview" target="_blank">API - Overview</a> </strong> from <strong><a href="http://es.slideshare.net/melidevelopers" target="_blank">melidevelopers</a></strong> </div>

</body>
</html>	