<html>
<head>

</head>

<body>
<iframe src="http://es.slideshare.net/slideshow/embed_code/15053178" width="427" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen webkitallowfullscreen mozallowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="http://es.slideshare.net/melidevelopers/mercadopago-15053178" title="MercadoPago" target="_blank">MercadoPago</a> </strong> from <strong><a href="http://es.slideshare.net/melidevelopers" target="_blank">melidevelopers</a></strong> </div>



</body>
</html>	