<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>version</title>
	<meta name="author" content="Nicolas Moraes" />
	<!-- Date: 2012-10-22 -->
</head>
<body>
<p align='center'><strong>API V1 Introduction </strong></p>


<p>
	MercadoLibre Developers Program recomend use of  <a href='https://api.mercadolibre.com/categories/MLA1000' target='_blank'> API V1 </a> This is the most stable version, and it will not change. Any change made to this version will improve performance and bugs fixes. All changes will be notify in this page.  


</p>


<p>
	<strong>Overview</strong> </br>
	
	Mercado Libre recomienda el uso de la API V1 para desarrollo de aplicaciones. Garantiza que la misma no va a sufrir cambios de improviso, y en el caso que así sea, se comunicará desde este sitio.
    La API V1 es la version estable de la api.developers.mercadolibre.com
    La api.developers, puede sufrir cambios de improviso, sin necesidad de informar a la comunidad de developers, por eso recomendamos fuertemente el uso de V1.
    Detalles de Diseño (Design Considerations)
    La API v1 mantendrá los estándares de diseño establecidos. ML asegura que bajo ningún concepto se cambiará el formato de respuesta de los diferentes recursos de la API.

</p>



<p>
<strong>Consideraciones claves:</strong> </br>

Todas las respuestas serán codificadas con JSON.
JSONP también será soportado.
Todos los requests/responses codificación UTF-8 
Las fechas respetan la codificación 8601
Todos los errores tiene un formato establecido
La data de v1 es la misma que la api.developers

Por más información ver (design considerations)
API Directory

Pueden encontrar aquí todos los recursos de la API versión 1 detallados.</br></br>

<strong>Recursos disponibles sobre:</strong> </br>

1.Users and Apps </br>
2.Categories and Listing </br>
3.Locations and Currencies </br>
4.Items and Search </br>
5.Order Managment </br>
6.Question </br>

ver (API Directory)

</p>


<p>
<strong>Control de Cambios</strong> </br>

Se detallara en esta seccion los cambios que vallan ocurriendo entre cambios de version, por ejemplo metodos nuevos, cambios de metodos.

Cuando la api V1, evolucione a una V2 o VX, los cambios se iran registrando en el site.

Recordamos que nos comprometemos a informar con antelacion a un cambio.


</p>

<p>
<strong>How to connect?</strong> </br>

De la misma manera que usted lo hacía habitualmente:</br>

<pre class="terminal">$ curl https://api.mercadolibre.com/sites/MLA/search?q=ipod</pre>

Antes: <a href= 'https://api.mercadolibre.com/categories/MLA1000' target='_blank'> API Developers </a> </br>

Ahora con v1: 

<pre class="terminal">$ curl https://v1.api.mercadolibre.com/sites/MLA/search?q=ipod</pre>

</br></br>

El resultado es el mismo.

</p>





</body>
</html>

