<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>version</title>
	<meta name="author" content="Nicolas Moraes" />
	<!-- Date: 2012-10-22 -->
</head>
<body>
<p align='center'><strong>API V1 Introduction </strong></p>


<p>
	MercadoLibre Developers Program recomend use of  <a href='https://api.mercadolibre.com/categories/MLA1000' target='_blank'> API V1 </a> This is the most stable version, and it will not change. Any change made to this version will improve performance and bugs fixes. All changes will be notify in this page.  


</p>



</body>
</html>

