<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7 ie6" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8 ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9 ie8" lang="en"> <![endif]-->
<!--[if (gt IE 8)|!(IE)]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="chrome=1" />
	<title>{{ page.title }}</title>

	<link rel="stylesheet" href="/stylesheets/pygment_trac.css" />
	<link rel="stylesheet" href="http://static.mlstatic.com/org-img/ch/ui/0.11/chico-mesh.min.css" />
	<link rel="stylesheet" href="/stylesheets/site.css" />
	<link rel="canonical" href="{{ page.url | canonical }}" />

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>
  <body>

     {% include header.html %}

	<section class="main ch-g1">
		{{ content }}
	</section>

    {% include footer.html %}
	<script src="http://static.mlstatic.com/org-img/ch/ui/0.11/chico-jquery.min.js"></script>
	<script src="http://static.mlstatic.com/org-img/sdk/mercadolibre-1.0.1.js"></script>
	<script type="text/javascript">
		<!--
		var foo = $("#guides-menu").dropdown();
		-->
	</script>
	<script src="javascripts/scale.fix.js"></script>

	<!--[if !IE]><script>fixScale(document);</script><!--<![endif]-->
</body>
</html>
