<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7 ie6" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8 ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9 ie8" lang="en"> <![endif]-->
<!--[if (gt IE 8)|!(IE)]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
  {% include meta-tags.html %}
    <title>{{ page.title }}</title>
  {% include link-tags.html %}
  {% include script-tags-head.html %}
</head>
  <body>



    {% include header.html %}

    <section class="main ch-g4-5">
      <h1>{{ page.title }}</h1>
      {{ content }}
    </section>

    <nav class="ch-g1-5 sidebar">
      {% include sidebar.html %}
    </nav>

    {% include footer.html %}

</body>
</html>
