<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7 ie6" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8 ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9 ie8" lang="en"> <![endif]-->
<!--[if (gt IE 8)|!(IE)]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
  {% include meta-tags.html %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>  
    
    <script src="http://static.mlstatic.com/org-img/ch/ui/0.10.5/chico-jquery.min.js"></script>
    <script src="http://static.mlstatic.com/org-img/sdk/mercadolibre-1.0.1.js"></script>
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <link rel="stylesheet" href="http://static.mlstatic.com/org-img/ch/ui/0.10.5/chico-mesh.min.css">
    <link rel="stylesheet" href="/stylesheets/site.css">
    <link rel="canonical" href="{{ page.url | canonical }}" />

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <style>
    #toTop {
        width:100px;
            border:1px solid #ccc;
            background:#f7f7f7;
            text-align:center;
            padding:5px;
            position:fixed; /* this is the magic */
            bottom:10px; /* together with this to put the div at the bottom*/
            right:10px;
            cursor:pointer;
            display:none;
            color:#333;
            font-family:verdana;
            font-size:11px;
    }
    </style>
    <script>
    $(function() {
      $(window).scroll(function() {
        if($(this).scrollTop() != 0) {
          $('#toTop').fadeIn(); 
        } else {
          $('#toTop').fadeOut();
        }
      });
     
      $('#toTop').click(function() {
        $('body,html').animate({scrollTop:0},800);
      }); 
    });
    </script>

    <script type="text/javascript">
      function goToByScroll(id){
          $('html,body').animate({scrollTop: $("#"+id).offset().top},'slow');
      }
    </script>

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
  </head>
  <body>
    <div id="toTop">^ Back to Top</div>


    {% include header.html %}

  <nav class="ch-g1-5 sidebar">
      <h2>{{ page.categories }} </h2>
      <ul>
     {% for tag in page.tags %}
          {% for post in site.tags.[tag] reversed %}
            {% assign current = nil %}
            {% if post.id == page.id %}
              {% assign current = 'current' %}
            {% endif %}
          <li><a class="{{ current }}" href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        {% endfor %}
      </ul>
    </nav>

    <section class="main ch-g4-5">
    <div class="ch-leftcolumn">
      {{ content }}
    </section>
    <footer class="ch-g1">
      <div class="ch-g2-3 extras">
        <ul>
          <li>©2012 MercadoLibre</li>
        </ul>
      </div>
      <p class="ch-g1-3 maintained-by"><img src="/images/github.png" alt="Github">Report an issue on <a href="https://github.com/mercadolibre/API/issues" target="_blank">Github</a>&nbsp;&nbsp;&nbsp;<a href="http://www.twitter.com/MercadoLibre" target="_blank"><img src="/images/twitter.png" alt="Twitter">Follow us!!</a></p>
    </footer>
</body>
</html>
