<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7 ie6" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8 ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9 ie8" lang="en"> <![endif]-->
<!--[if (gt IE 8)|!(IE)]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
  {% include meta-tags.html %}
  <title>{{ page.title }}</title>
  {% include link-tags.html %}
  {% include script-tags-head.html %}
    <style>
    #toTop {
        width:100px;
            border:1px solid #ccc;
            background:#f7f7f7;
            text-align:center;
            padding:5px;
            position:fixed; /* this is the magic */
            bottom:10px; /* together with this to put the div at the bottom*/
            right:10px;
            cursor:pointer;
            display:none;
            color:#333;
            font-family:verdana;
            font-size:11px;
    }
    </style>
  </head>
  <body>
    <div id="toTop">^ Back to Top</div>


    {% include header.html %}

    <section class="main ch-g4-5">
      <h1>{{ page.title }}</h1>
      {{ content }}
    </section>

    {% include footer.html %}
  <script src="http://static.mlstatic.com/org-img/ch/ui/0.11/chico-jquery.min.js"></script>
  <script src="http://static.mlstatic.com/org-img/sdk/mercadolibre-1.0.1.js"></script>
  <script type="text/javascript">
    <!--
    var foo = $("#guides-menu").dropdown();
    -->
  </script>
        <script>
    $(function() {
      $(window).scroll(function() {
        if($(this).scrollTop() != 0) {
          $('#toTop').fadeIn();
        } else {
          $('#toTop').fadeOut();
        }
      });

      $('#toTop').click(function() {
        $('body,html').animate({scrollTop:0},800);
      });
    });
    </script>
    <script type="text/javascript">
      function goToByScroll(id){
          $('html,body').animate({scrollTop: $("#"+id).offset().top},'slow');
      }
    </script>
  <script src="/javascripts/scale.fix.js"></script>
  <!--[if !IE]><script>fixScale(document);</script><!--<![endif]-->
</body>
</html>
