<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7 ie6" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8 ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9 ie8" lang="en"> <![endif]-->
<!--[if (gt IE 8)|!(IE)]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
	{% include meta-tags.html %}
	<title>{{ page.title }}</title>
	{% include link-tags.html %}
	{% include script-tags-head.html %}
</head>

    {% include header.html %}

	<section class="main ch-g1">
		<section class="description ch-g1">
			<article>
				<h2>Our API. Your ideas.</h2>
				<h3>
					Start building amazing Apps.<br>
					We've got 70 million users waiting just for you.
				</h3>
				<a href="/first-step" class="ch-btn ch-btn-big">Take your first steps</a>
          			<a class="description-secondary-action" href="/develop-with-us">Why Develop With Us</a>

				<figure><img src="images/puzzle.png" alt="Puzzle logo" width="351" height="239" /></figure>
			</article>
		</section>

		<section class="do-it ch-g1 home-content">
			<article class="ch-g1-4">
				<h3><a href="/application-manager">Create your Application</a></h3>
				<div class="create"></div>
				<p>Create your own application and start playing with our API.</p>
				<p><a href="/application-manager" class="seeAll">Go now</a></p>
			</article>

			<article class="ch-g1-4">
				<h3><a href="/authentication-and-authorization">Authentication</a></h3>
				<div class="learn"></div>
				<p>You build apps that provide services to users, then you need a tool to control the access! We provide that by using OAuth 2.0.</p>
				<p><a href="/authentication-and-authorization" class="seeAll">Learn More</a></p>
			</article>
	
			<article class="ch-g1-4">
			
				<h3><a href="/version/">API Versioning</a></h3>
				<div class="create"></div>
				<p>MercadoLibre’s Developers Program recommends the use of API V1, our brand new and most stable API version.</p>
				<p><a href="/version/" class="seeAll">Learn More</a></p>
			</article>

	<article class="ch-g1-4">
			
				<h3><a href="/dev-conf/">MercadoLibre Development conference</a></h3>
				<div class="collaborate"></div>
				<p>First development conference, São Paulo, Brasil.</p>
				<p><a href="/dev-conf/" class="seeAll">Learn More</a></p>
			</article>

		</section>
	</section>

	{% include footer.html %}
</body>
</html>
