<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7 ie6" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8 ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9 ie8" lang="en"> <![endif]-->
<!--[if (gt IE 8)|!(IE)]><!--> <html class="no-js" lang="en"><!--<![endif]-->
  <head>
	{% include meta-tags.html %}
	<title>{{ page.title }}</title>
	{% include link-tags.html %}
	{% include script-tags-head.html %}
  </head>

    {% include header.html %}

	<section class="main ch-g1">
		<section class="description ch-g1">
			<article>
				<h2>Our API. Your ideas.</h2>
				<h3>Start building amazing Apps.<br>
				We've got 70 million users waiting just for you.</h3>
				<br>
				<a href="/first-step" class="ch-btn">Take your first steps</a>
				<figure><img src="images/puzzle.png" alt="Puzzle logo" width="351" height="239" /></figure>
			</article>
		</section>

		<section class="do-it ch-g1 home-content">
		        <article class="ch-g1-4">
				<h3>Create your Applicatio</h3>
				<div class="create"></div>
				<p>Create your own application and start playing with our API.</p>
				<p>Go now</p>
			</article>

			<article class="ch-g1-4">
				<h3>Guide</h3>
				<div class="learn"></div>
				<p>Check the examples and documentation and start using the API to build amazing apps.</p>
				<p>View the guides</p>
			</article>


			<article class="ch-g1-4">
				<h3>Community</h3>
				<div class="collaborate"></div>
				<p>Get involved with the developer's community network.</p>
				<p>Go now</p>
			</article>
		</section>
	</section>

	{% include footer.html %}
	<script src="http://static.mlstatic.com/org-img/ch/ui/0.11/chico-jquery.min.js"></script>
	<script src="http://static.mlstatic.com/org-img/sdk/mercadolibre-1.0.1.js"></script>
	<script type="text/javascript">
		<!--
		var foo = $("#guides-menu").dropdown();
		-->
	</script>

	<!--[if !IE]><script>fixScale(document);</script><!--<![endif]-->
</body>
</html>
