<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7 ie6" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8 ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9 ie8" lang="en"> <![endif]-->
<!--[if (gt IE 8)|!(IE)]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="chrome=1" />
	<title>{{ page.title }}</title>

	<script src="http://static.mlstatic.com/org-img/ch/ui/0.10.5/chico-jquery.min.js"></script>
	<script src="http://static.mlstatic.com/org-img/sdk/mercadolibre-1.0.1.js"></script>
	<link rel="stylesheet" href="/stylesheets/pygment_trac.css" />
	<link rel="stylesheet" href="http://static.mlstatic.com/org-img/ch/ui/0.10.5/chico-mesh.min.css" />
	<link rel="stylesheet" href="/stylesheets/site.css" />
	<link rel="canonical" href="{{ page.url | canonical }}" />

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
  </head>
  <body>
    <header class="ch-g1 main">
      <hgroup class="ch-g1-3">
        <h1><a href="/">MELI</a></h1>
        <h2>MELI Developer Site</h2>
      </hgroup>
        <nav class="ch-g2-3">
        <ul>
          {% for category in site.categories %} 
            
            {% assign current = nil %}
            {% if category[0] == page.categories[0] %}
              {% assign current = 'current' %}
            {% endif %}
            
            {% if category[0] == 'Guides' %}
            <li class="option">
              <div id="guides-menu" class="ch-dropdown-skin">
                <span>{{ category[0] }}</span>
                <ul>
                    {% assign current = nil %}
                    {% if page.guide == 'all' %}
                           {% assign current = 'current' %}
                    {% endif %}
                  <li><a class="{{ current }}" href="/guides">All guides</a></li>
                    
                    {% assign current = nil %}
                    {% if page.guide == 'buyers' %}
                           {% assign current = 'current' %}
                    {% endif %}
                  <li><a class="{{ current }}" href="/bookmarks">Buyer guides</a></li>
                    
                    {% assign current = nil %}
                    {% if page.guide == 'search' %}
                           {% assign current = 'current' %}
                    {% endif %}
                  <li><a class="{{ current }}" href="/search-visual-introduction">Searching guide</a></li>

                    {% assign current = nil %}
                    {% if page.guide == 'seller' %}
                           {% assign current = 'current' %}
                    {% endif %}
                  <li><a class="{{ current }}" href="/listing-introduction">Selling guides</a></li>
                </ul>
              </div>
            </li>
            {% else %}
              <li class="option"><a class="{{ current }}" href="{{ category[1].last.url }}">{{ category[0] }}</a></li>
            {% endif %}
          
          {% endfor %}
          <li class="option">
            <form action="/search"><input id="q" type="search" name="q" placeholder="Search this site"/><noscript><input id="search" type="submit" value="Go" class="ch-btn-skin ch-btn-small"/></noscript></form>
          </li>
        </ul>
      </nav>
    </header>
    
    <script type="text/javascript">
      var foo = $("#guides-menu").dropdown();
    </script>
	
	<section class="main ch-g1">
		{{ content }}
		<div id="cse" style="width:100%;">
		    <div class="ch-loading"></div>
		</div>
	</section>
	
	<footer class="ch-g1">
  	<div class="ch-g2-3 extras">
		  <ul>
			 <li>©2012 MercadoLibre</li>
		  </ul>
		</div>
      <p class="ch-g1-3 maintained-by"><img src="/images/github.png" alt="Github">Report an issue on <a href="https://github.com/mercadolibre/API/issues" target="_blank">Github</a>&nbsp;&nbsp;&nbsp;<a href="http://www.twitter.com/MercadoLibre" target="_blank"><img src="/images/twitter.png" alt="Twitter">Follow us!!</a></p>
	</footer>
	
	<script src="javascripts/scale.fix.js"></script>
	<!--[if !IE]><script>fixScale(document);</script><!--<![endif]-->
	<script src="http://www.google.com/jsapi"></script>
	<script>
		function parseQueryFromUrl() {
			var queryParamName = 'q';
			var search = window.location.search.substr(1);
			var parts = search.split('&');
			for ( var i = 0; i < parts.length; i++) {
				var keyvaluepair = parts[i].split('=');
				if (decodeURIComponent(keyvaluepair[0]) == queryParamName) {
					return decodeURIComponent(keyvaluepair[1].split('+').join(
							' '));
				}
			}
			return '';
		}
		google.load('search', '1', {
			language : 'en'
		});
		google
				.setOnLoadCallback(
						function() {
							var customSearchOptions = {};
							var customSearchControl = new google.search.CustomSearchControl(
									'017586013854347464845:atz5lcehloe',
									customSearchOptions);
							customSearchControl
									.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);

							var options = new google.search.DrawOptions();
							options.setAutoComplete(true);
							options.enableSearchResultsOnly();
							
							customSearchControl.draw('cse', options);
							var queryFromUrl = parseQueryFromUrl();
							if (queryFromUrl) {
								customSearchControl.execute(queryFromUrl);
							}
						}, true);
	</script>

</head>
<body>

</body>
</html>
