<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7 ie6" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8 ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9 ie8" lang="en"> <![endif]-->
<!--[if (gt IE 8)|!(IE)]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
	{% include meta-tags.html %}
	<title>{{ page.title }}</title>
	{% include link-tags.html %}
	{% include script-tags-head.html %}
</head>
  <body>
    {% include header.html %}


	<section class="main ch-g1">
		<h1 id="title">Resuls for: </h1>
		<div id="cse" style="width:100%;">
		    <div class="ch-loading"></div>
		</div>
		{{ content }}
	</section>

	{% include footer.html %}

</body>
</html>
